<a href="https://colab.research.google.com/github/kodikarthik21/CS6910---Fundamentals-of-Deep-Learning/blob/main/Assignment03/seq2seq_without_Attention.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!unzip '/content/drive/MyDrive/lexicons.zip'

Archive:  /content/drive/MyDrive/lexicons.zip
   creating: lexicons/
  inflating: lexicons/ta.translit.sampled.test.tsv
  inflating: lexicons/ta.translit.sampled.dev.tsv
  inflating: lexicons/ta.translit.sampled.train.tsv

In [3]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd

In [4]:
train_df = pd.read_csv("/content/lexicons/ta.translit.sampled.train.tsv", sep = '\t', header = None)
train_df = train_df.dropna(axis=0)

val_df = pd.read_csv("/content/lexicons/ta.translit.sampled.dev.tsv", sep = '\t', header = None)
val_df = val_df.dropna(axis=0)

In [5]:
train_df

               0        1  2
0         ஃபியட்     fiat  2
1         ஃபியட்   phiyat  1
2         ஃபியட்    piyat  1
3      ஃபிரான்ஸ்  firaans  1
4      ஃபிரான்ஸ்   france  2
...          ...      ... ..
68213     ஹோல்ட்    holtt  1
68214     ஹோல்ட்    hoold  1
68215     ஹோல்ட்    hoolt  1
68216     ஹோல்ட்   hooltt  1
68217     ஹோல்ட்     hult  1

[68215 rows x 3 columns]

In [6]:
val_df

          0        1  2
0     ஃபயர்     fire  3
1     ஃபயர்   phayar  1
2     ஃபார்     baar  1
3     ஃபார்      bar  1
4     ஃபார்      far  1
...     ...      ... ..
6822   ஹோலி  hoolley  1
6823   ஹோலி   hoolli  2
6824   ஹோலி   hoolly  1
6825   ஹோலி    hooly  2
6826   ஹோலி     huli  1

[6827 rows x 3 columns]

In [20]:
# Vectorize the data.
input_texts = []
target_texts = []
input_characters = set()
target_characters = set()
for input_text,target_text in zip(train_df[1][0:],train_df[0][0:]):
    input_texts.append(input_text)
    target_texts.append(target_text)
    for char in input_text:
        if char not in input_characters:
            input_characters.add(char)
    for char in target_text:
        if char not in target_characters:
            target_characters.add(char)

input_token_index = dict([(char, i) for i, char in enumerate(input_characters)])
target_token_index = dict([(char, i) for i, char in enumerate(target_characters)])

if ' ' not in input_token_index:
  input_token_index[' '] = len(input_token_index)

if ' ' not in target_token_index:
  target_token_index[' '] = len(target_token_index)

input_characters = sorted(list(input_characters))
target_characters = sorted(list(target_characters))
num_encoder_tokens = len(input_characters) + 1
num_decoder_tokens = len(target_characters) + 1
max_encoder_seq_length = max([len(txt) for txt in input_texts])
max_decoder_seq_length = max([len(txt) for txt in target_texts])

print("Number of samples:", len(input_texts))
print("Number of unique input tokens:", num_encoder_tokens)
print("Number of unique output tokens:", num_decoder_tokens)
print("Max sequence length for inputs:", max_encoder_seq_length)
print("Max sequence length for outputs:", max_decoder_seq_length)

encoder_input_data = np.zeros(
    (len(input_texts), max_encoder_seq_length), dtype="float32"
)
decoder_input_data = np.zeros(
    (len(input_texts), max_decoder_seq_length), dtype="float32"
)
decoder_target_data = np.zeros(
    (len(input_texts), max_decoder_seq_length, num_decoder_tokens), dtype="float32"
)

for i, (input_text, target_text) in enumerate(zip(input_texts, target_texts)):
    for t, char in enumerate(input_text):
        encoder_input_data[i, t] = input_token_index[char]
    encoder_input_data[i, t + 1 :] = input_token_index[" "]
    for t, char in enumerate(target_text):
        # decoder_target_data is ahead of decoder_input_data by one timestep
        decoder_input_data[i, t] = target_token_index[char]
        if t > 0:
            # decoder_target_data will be ahead by one timestep
            # and will not include the start character.
            decoder_target_data[i, t - 1, target_token_index[char]] = 1.0
    decoder_input_data[i, t + 1 :] = target_token_index[" "]
    decoder_target_data[i, t:, target_token_index[" "]] = 1.0

Number of samples: 68215
Number of unique input tokens: 27
Number of unique output tokens: 47
Max sequence length for inputs: 30
Max sequence length for outputs: 26

In [21]:
# Vectorize the data.
val_input_texts = []
val_target_texts = []

for val_input_text,val_target_text in zip(val_df[1][0:],val_df[0][0:]):
    val_input_texts.append(val_input_text)
    val_target_texts.append(val_target_text)

val_encoder_input_data = np.zeros(
    (len(val_input_texts), max_encoder_seq_length), dtype="float32"
)
val_decoder_input_data = np.zeros(
    (len(val_input_texts), max_decoder_seq_length), dtype="float32"
)
val_decoder_target_data = np.zeros(
    (len(val_input_texts), max_decoder_seq_length, num_decoder_tokens), dtype="float32"
)

for i, (input_text, target_text) in enumerate(zip(val_input_texts, val_target_texts)):
    for t, char in enumerate(val_input_text):
        val_encoder_input_data[i, t] = input_token_index[char]
    encoder_input_data[i, t + 1 :] = input_token_index[" "]
    for t, char in enumerate(val_target_text):
        # decoder_target_data is ahead of decoder_input_data by one timestep
        val_decoder_input_data[i, t] = target_token_index[char]
        if t > 0:
            # decoder_target_data will be ahead by one timestep
            # and will not include the start character.
            val_decoder_target_data[i, t - 1, target_token_index[char]] = 1.0
    decoder_input_data[i, t + 1 :] = target_token_index[" "]
    decoder_target_data[i, t:, target_token_index[" "]] = 1.0

In [22]:
embedding_size = 256
hidden_size = 32

# Define an input sequence and process it.
encoder_inputs = keras.layers.Input(shape=(None,), name="input_1")
embedding = keras.layers.Embedding(num_encoder_tokens, embedding_size, name="embedding_1")(encoder_inputs)
encoder_seq, *encoder_state = keras.layers.LSTM(hidden_size, return_sequences=True,return_state = True, name="encoder_1") (embedding)
encoder_seq, *encoder_state = keras.layers.LSTM(hidden_size, return_sequences=True,return_state = True, name="encoder_2") (encoder_seq)

# Set up the decoder, using `encoder_states` as initial state.
decoder_inputs = keras.Input(shape=(None,), name="input_2")
decoder_embedding = keras.layers.Embedding(num_decoder_tokens, embedding_size, name="embedding_2")(decoder_inputs)

# We set up our decoder to return full output sequences,
# and to return internal states as well. We don't use the
# return states in the training model, but we will use them in inference.
decoder_seq, *_ = keras.layers.LSTM(hidden_size,return_sequences=True, return_state=True, name="decoder_1")(decoder_embedding,initial_state=encoder_state)
decoder_seq, *_ = keras.layers.LSTM(hidden_size, return_sequences=True, return_state=True, name="decoder_2") (decoder_seq)

decoder_outputs = keras.layers.Dense(num_decoder_tokens, activation="softmax", name="dense_1")(decoder_seq)

# Define the model that will turn
# `encoder_input_data` & `decoder_input_data` into `decoder_target_data`
model = keras.Model([encoder_inputs, decoder_inputs], decoder_outputs)

In [23]:
batch_size = 512  # Batch size for training.
epochs = 10 # Number of epochs to train for.

model.compile(
    optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"]
)
model.fit(
    [encoder_input_data, decoder_input_data],
    decoder_target_data,
    batch_size=batch_size,
    epochs=epochs,
    validation_data=([encoder_input_data, decoder_input_data],
                    decoder_target_data)
)
# Save model
model.save("s2s")

Epoch 1/10
134/134 [==============================] - 48s 102ms/step - loss: 2.2639 - accuracy: 0.6741 - val_loss: 1.1099 - val_accuracy: 0.7194
Epoch 2/10
134/134 [==============================] - 12s 90ms/step - loss: 1.0820 - accuracy: 0.7231 - val_loss: 1.0084 - val_accuracy: 0.7363
Epoch 3/10
134/134 [==============================] - 12s 89ms/step - loss: 0.9834 - accuracy: 0.7464 - val_loss: 0.9077 - val_accuracy: 0.7624
Epoch 4/10
134/134 [==============================] - 12s 90ms/step - loss: 0.8907 - accuracy: 0.7644 - val_loss: 0.8525 - val_accuracy: 0.7700
Epoch 5/10
134/134 [==============================] - 12s 90ms/step - loss: 0.8454 - accuracy: 0.7722 - val_loss: 0.8217 - val_accuracy: 0.7768
Epoch 6/10
134/134 [==============================] - 12s 90ms/step - loss: 0.8172 - accuracy: 0.7769 - val_loss: 0.8017 - val_accuracy: 0.7778
Epoch 7/10
134/134 [==============================] - 12s 91ms/step - loss: 0.7925 - accuracy: 0.7799 - val_loss: 0.7817 - val_accuracy: 0.7818
Epoch 8/10
134/134 [==============================] - 12s 91ms/step - loss: 0.7770 - accuracy: 0.7821 - val_loss: 0.7654 - val_accuracy: 0.7838
Epoch 9/10
134/134 [==============================] - 12s 89ms/step - loss: 0.7622 - accuracy: 0.7858 - val_loss: 0.7541 - val_accuracy: 0.7895
Epoch 10/10
134/134 [==============================] - 12s 89ms/step - loss: 0.7518 - accuracy: 0.7908 - val_loss: 0.7437 - val_accuracy: 0.7955

WARNING:absl:Found untraced functions such as lstm_cell_19_layer_call_fn, lstm_cell_19_layer_call_and_return_conditional_losses, lstm_cell_20_layer_call_fn, lstm_cell_20_layer_call_and_return_conditional_losses, lstm_cell_21_layer_call_fn while saving (showing 5 of 20). These functions will not be directly callable after loading.
WARNING:absl:Found untraced functions such as lstm_cell_19_layer_call_fn, lstm_cell_19_layer_call_and_return_conditional_losses, lstm_cell_20_layer_call_fn, lstm_cell_20_layer_call_and_return_conditional_losses, lstm_cell_21_layer_call_fn while saving (showing 5 of 20). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: s2s/assets

INFO:tensorflow:Assets written to: s2s/assets