<a href="https://colab.research.google.com/github/kodikarthik21/CS6910---Fundamentals-of-Deep-Learning/blob/main/Assignment03/seq2seq_without_Attention.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!unzip '/content/drive/MyDrive/lexicons.zip'

Archive:  /content/drive/MyDrive/lexicons.zip
   creating: lexicons/
  inflating: lexicons/ta.translit.sampled.test.tsv
  inflating: lexicons/ta.translit.sampled.dev.tsv
  inflating: lexicons/ta.translit.sampled.train.tsv

In [37]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd

In [42]:

import pandas as pd
train_df = pd.read_csv("/content/lexicons/ta.translit.sampled.train.tsv", sep = '\t', header = None)
train_df = train_df.dropna(axis=0)

In [19]:
train_df

               0        1  2
0         ஃபியட்     fiat  2
1         ஃபியட்   phiyat  1
2         ஃபியட்    piyat  1
3      ஃபிரான்ஸ்  firaans  1
4      ஃபிரான்ஸ்   france  2
...          ...      ... ..
68213     ஹோல்ட்    holtt  1
68214     ஹோல்ட்    hoold  1
68215     ஹோல்ட்    hoolt  1
68216     ஹோல்ட்   hooltt  1
68217     ஹோல்ட்     hult  1

[68215 rows x 3 columns]